body {
	background-color:#99CCFF;
}
.navbar {
	background-color:#99CCFF;
	border:thin black solid !important;
	}
.open * {
	
	background-color:#99FF66 !important;
	border:thin black solid !important;
}
.item {
	padding: 5px;
	background-color:#99FF66;
	border:thin black solid;
}

.item img {

	width: 150px;
	height: 150px;
	
}

.item img:hover {
	border:1px solid #0000ff;
}

.sorting a {
	 color:#800000;
}

.step {
	border:thin black solid;
	background-color:#99FF66;
	height:200px;
}

.step p {
	
	text-align:left;
}